{
	"logger": {
		"dir": "logs/",
		"level": "DEBUG",
		"keepHours": 24
	},
	"endpoints": {
		"authorization": "http://oauth.example.org/oauth2/authorize",
		"device_authorization": "http://oauth.example.org/oauth2/device/authorize",
		"token": "http://oauth.example.org/oauth2/token",
		"userinfo": "http://oauth.example.org/oauth2/userinfo"
	},
	"iplimit": {
		"enable": false,
		"trust_ip": ["127.0.0.1","::1"]
	},
	"http": {
		"route_base":"/",
		"trust_proxy": ["127.0.0.1", "::1"],
		"cors": ["localhost", "127.0.0.1"],
		"listen": "0.0.0.0:80"
	},
	"trust_domain": ["localhost", "oauth.example.org"],
	"default_scope": "Basic",
	"timeout": 10
}